:root {
    --cor1: #98cfff;
    --cor2: #e8f3fd;
    --cor3: #12aec9;
    --cor4: #1e8fc3;
    --fontcolor: rgba(255, 255, 255, 0.861);
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--fontcolor);
    height: 70vh;
    padding: 0px;
    background-color: var(--cor3);
}

header{
    text-decoration: solid;
    font-size: 30px;
}

.calculator{
    background-color: var(--cor1);
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.row{
    display: flex;
    justify-content: flex-start;
    gap:5px;
}

input[type="button"]{
    width: 80px;
    border: 1px solid #1f9ac7;
    border-radius: 5px;
    background-color: var(--cor2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.498);
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
}

input#screen{
    height: 50px;
    width: 328px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 15px;
}

input#equals {
    width: 165px;
}

input[type="button"]:active{
    color: white;
}

input[type="button"]:hover{
    color: white;
    background-color: var(--cor4);
}
